<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="top">
      <!-- <img class="top__img" src="./img/top_back_girl.jpeg" alt=""> -->
      <div class="container">
        <div class="head">
          <div class="logo">
            <img class="head-logo" src="./img/logo.png" alt="logo-Chpk2" />
            <h1 class="head-head">ЧПК2</h1>
          </div>
          <div class="menu">
            <div class="menu__li">
              <a href="index.html" class="menu__li-a">Главная</a>
            </div>
            <div class="menu__li">
              <a href="teachers.html" class="menu__li-a">Учителя</a>
            </div>
            <div class="menu__li">
              <a href="./reiting.html" class="menu__li-a">Рейтинг Учителя</a>
            </div>
            <div class="menu__li">
              <a href="#" class="menu__li-a">Самая лучшая/здоровая группа</a>
            </div>
            <div class="menu__li">
              <a href="#proud" class="menu__li-a">Воспитатели и учителя</a>
            </div>
            <div class="menu__li">
              <a href="#" class="menu__li-a">Выпускники</a>
            </div>
          </div>
        </div>
        <div class="top__heading">
          <h4 class="top__heading-intro">Добро пожаловать</h4>
          <h1 class="top__heading-head">Виртуальная доска почета</h1>
          <h4 class="top__heading-ph">
            Государственного бюджетного профессионального образовательного
            учреждения "Челябинский педагогический колледж №2"
          </h4>
          <a href="#" class="top__heading-btn"> Главная страница сайта ЧПК2</a>
        </div>
      </div>
    </div>
    <div class="teachers">
      <a name="teachers" href=""></a>
      <!-- anchor for teachers -->
      <div class="container">
        <div class="teachers__heading-box">
          <h2 class="teachers__heading">Рейтинг педагогов</h2>
          <h4 class="description">
            Рейтинг педагогов Челябинского педагогического колледжа №2
          </h4>
        </div>
        <!-- <div class="cards">
                <div class="card">
                    <img class="card__image" src="./img/month/september.jpg" alt="">
                    <h3 class="card__heading">Сентябрь 2021</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="./dpp-s.html" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/october.jpg" alt="">
                    <h3 class="card__heading">Октябрь 2021</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/november.jpeg" alt="">
                    <h3 class="card__heading">Ноябрь 2021</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/december.jpg" alt="">
                    <h3 class="card__heading">Декабрь 2021</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <img class="card__image" src="./img/month/september.jpg" alt="">
                    <h3 class="card__heading">Январь 2022</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/october.jpg" alt="">
                    <h3 class="card__heading">Февраль 2022</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/november.jpeg" alt="">
                    <h3 class="card__heading">Март 2022</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
                <div class="card">
                    <img class="card__image" src="./img/month/december.jpg" alt="">
                    <h3 class="card__heading">Апрель 2022</h3>
                    <p class="card__dispencer"> </p>
                    <h4 class="card__desc">Для просмотра рейтинга нажмите на карточку</h4>
                    <a href="#" class="card__anchor">Подробнее...</a>
                </div>
            </div> -->

        <div class="teachers__cards">
          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/lips.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за
              <h3 class="sept">Сентябрь 2021</h3>
            </h3>
            <h4 class="teachers__cards-card-desc">Липс Н.И.</h4>
            <a href="./dpp-s.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/habibulina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Октябрь 2021
            </h3>
            <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
            <a href="./dpp-o.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/statina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Ноябрь 2021
            </h3>
            <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
            <a href="./dpp-n.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/statina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Декабрь 2021
            </h3>
            <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
            <a href="./dpp-d.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/statina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Январь 2022
            </h3>
            <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
            <a href="./dpp-j.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>
        </div>

        <div class="teachers__cards">
          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/statina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Февраль 2022
            </h3>
            <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
            <a href="./dpp-f.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/lips.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Март 2022
            </h3>
            <h4 class="teachers__cards-card-desc">Липс Н.И.</h4>
            <a href="./dpp-mar.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/statina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Апрель 2022
            </h3>
            <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
            <a href="./dpp-a.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>

          <div class="teachers__cards-card">
            <img
              src="./img/rate-teachers/voronina.jpeg"
              alt=""
              class="teachers__cards-card-image"
            />
            <h3 class="teachers__cards-card-name">
              Лидер рейтинга за Май 2022
            </h3>
            <h4 class="teachers__cards-card-desc">Лидер рейтинга</h4>
            <a href="./dpp-may.html" class="teachers__cards-card-anchor"
              >Весь рейтинг</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="proud container">
      <a href="" name="proud"></a>
      <div class="proud__content">
        <img
          src="./img/do.jpeg"
          alt="Дошкольное образование"
          class="proud__img"
        />
        <div class="proud__content-text">
          <p class="proud__content-hr"></p>
          <h2 class="proud__content-heading">
            Гордость дошкольного <br />
            образовния ЧПК №2
          </h2>
          <h4 class="proud__content-desc">
            Гордорость специальности Дошкольное образование
          </h4>
          <a href="#" class="proud__content-anchor">Подробнее ></a>
        </div>
      </div>
    </div>

    <div class="proud container">
      <a href="" name="proud"></a>
      <div class="proud__content">
        <div class="proud__content-text">
          <p class="proud__content-hr"></p>
          <h2 class="proud__content-heading">
            Гордость начального <br />
            образовния ЧПК №2
          </h2>
          <h4 class="proud__content-desc">
            Гордорость специальности Преподавание в начальных классах
          </h4>
          <a href="#" class="proud__content-anchor">Подробнее ></a>
        </div>
        <img
          src="./img/npk.jpeg"
          alt="Дошкольное образование"
          class="proud__img"
        />
      </div>
    </div>
  </body>
</html>
