{% extends "base.html" %} {% block title %} Создание рейтинга {% endblock %} {%
block style %} {% include "inc-style.html" %} {% endblock %} {% block menu %} {%
include "inc-menu.html" %} {% endblock %} {% block body %}

<a href="/">назад</a>
{% if objects_list %}
<h1>Список рейтингов</h1>
<ul>
  {% for item in objects_list %}
  <li>
    {{item.month}}
    <span
      >Преподаватель: {{item.teacher.name}} Количество баллов:
      {{item.score}}</span
    >
  </li>
  {% endfor %}
</ul>
{% endif %}

<h1>Создание рейтинга</h1>
{% if teachers_obj %}
<form method="post">
  <input type="text" name="month" placeholder="Месяц (англ)" />
  <select name="teacher">
    {% for obj in teachers_obj %}
    <option name="teacher" value="{{ obj.name }}">{{ obj.name }}</option>
    {% endfor %}
  </select>
  <!--<input type="text" name="teacher" placeholder="Учитель" />-->
  <input type="text" name="score" placeholder="Количество баллов" />
  <button type="submit">Сохранить и вернуться к списку</button>
</form>
{% else %}
<h2>
  У вас нет доступных преподавателей. <br />
  Сначала создайте преподавателей
</h2>
<div>
  <li><a href="/create-teacher/">Добавить преподавателя</a></li>
</div>
{% endif %} {% endblock %}
