<div class="teachers">
  <a name="teachers" href=""></a>
  <!-- anchor for teachers -->
  <div class="container">
    <div class="teachers__heading-box">
      <h2 class="teachers__heading">Рейтинг педагогов</h2>
      <h4 class="description">
        Рейтинг педагогов Челябинского педагогического колледжа №2
      </h4>
    </div>
    <div class="teachers__cards">
      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/lips.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">
          Лидер рейтинга за
          <h3 class="sept">Сентябрь 2021</h3>
        </h3>
        <h4 class="teachers__cards-card-desc">Липс Н.И.</h4>
        <a href="./dpp-s.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/habibulina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">
          Лидер рейтинга за Октябрь 2021
        </h3>
        <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
        <a href="./dpp-o.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/statina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">Лидер рейтинга за Ноябрь 2021</h3>
        <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
        <a href="./dpp-n.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/statina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">
          Лидер рейтинга за Декабрь 2021
        </h3>
        <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
        <a href="./dpp-d.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/statina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">Лидер рейтинга за Январь 2022</h3>
        <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
        <a href="./dpp-j.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>
    </div>

    <div class="teachers__cards">
      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/statina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">
          Лидер рейтинга за Февраль 2022
        </h3>
        <h4 class="teachers__cards-card-desc">Статина Н.В.</h4>
        <a href="./dpp-f.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/lips.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">Лидер рейтинга за Март 2022</h3>
        <h4 class="teachers__cards-card-desc">Липс Н.И.</h4>
        <a href="./dpp-mar.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/statina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">Лидер рейтинга за Апрель 2022</h3>
        <h4 class="teachers__cards-card-desc">Хабибулина М.Б.</h4>
        <a href="./dpp-a.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>

      <div class="teachers__cards-card">
        <img
          src="./img/rate-teachers/voronina.jpeg"
          alt=""
          class="teachers__cards-card-image"
        />
        <h3 class="teachers__cards-card-name">Лидер рейтинга за Май 2022</h3>
        <h4 class="teachers__cards-card-desc">Лидер рейтинга</h4>
        <a href="./dpp-may.html" class="teachers__cards-card-anchor"
          >Весь рейтинг</a
        >
      </div>
    </div>
  </div>
</div>
