<div class="top">
  <!-- <img class="top__img" src="./img/top_back_girl.jpeg" alt=""> -->
  <div class="container">
    <div class="head">
      <div class="logo">
        <img class="head-logo" src="./img/logo.png" alt="logo-Chpk2" />
        <h1 class="head-head">ЧПК2</h1>
      </div>
    </div>
    <div class="top__heading">
      <h4 class="top__heading-intro">Добро пожаловать</h4>
      <h1 class="top__heading-head">Виртуальная доска почета</h1>
      <h4 class="top__heading-ph">
        Государственного бюджетного профессионального образовательного
        учреждения "Челябинский педагогический колледж №2"
      </h4>
      <a href="#" class="top__heading-btn"> Главная страница сайта ЧПК2</a>
    </div>
  </div>
</div>
<div class="proud container">
  <a href="" name="proud"></a>
  <div class="proud__content">
    <img src="./img/do.jpeg" alt="Дошкольное образование" class="proud__img" />
    <div class="proud__content-text">
      <p class="proud__content-hr"></p>
      <h2 class="proud__content-heading">
        Гордость дошкольного <br />
        образовния ЧПК №2
      </h2>
      <h4 class="proud__content-desc">
        Гордорость специальности Дошкольное образование
      </h4>
      <a href="#" class="proud__content-anchor">Подробнее ></a>
    </div>
  </div>
</div>

<div class="proud container">
  <a href="" name="proud"></a>
  <div class="proud__content">
    <div class="proud__content-text">
      <p class="proud__content-hr"></p>
      <h2 class="proud__content-heading">
        Гордость начального <br />
        образовния ЧПК №2
      </h2>
      <h4 class="proud__content-desc">
        Гордорость специальности Преподавание в начальных классах
      </h4>
      <a href="#" class="proud__content-anchor">Подробнее ></a>
    </div>
    <img src="./img/npk.jpeg" alt="Дошкольное образование" class="proud__img" />
  </div>
</div>
