{% extends "base.html" %} {% block title %} Список рейтингов {% endblock %} {%
block style %} {% include "inc-style.html" %} {% endblock %} {% block menu %} {%
include "inc-menu.html" %} {% endblock %} {% block body %}
<a href="/">назад</a>

{% if objects_list %}
<h1>Список рейтингов</h1>
<ul>
  {% for item in objects_list %}
  <li>
    <span style="font-weight: bold; font-size: 18px; text-decoration: underline"
      >{{item.month}}</span
    >
    <span
      >Преподаватель: {{item.teacher.name}} Количество баллов:
      {{item.score}}</span
    >
  </li>
  {% endfor %}
</ul>
{% else %}
<h1>Рейтинги еще не добавлены</h1>
{% endif %}

<div>
  <li><a href="/create-rating">Создать рейтинг</a></li>
</div>
{% endblock %}
