<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Учителя</title>
  </head>

  <body>
    <div class="top top__rate">
      <div class="container">
        <div class="head">
          <div class="logo">
            <img class="head-logo" src="./img/logo.png" alt="logo-Chpk2" />
            <h1 class="head-head">ЧПК2</h1>
          </div>
          <div class="menu">
            <div class="menu__li">
              <a href="index.html" class="menu__li-a">Главная</a>
            </div>
            <div class="menu__li">
              <a href="teachers.html" class="menu__li-a">Учителя</a>
            </div>
            <div class="menu__li">
              <a href="reiting.html" class="menu__li-a">Рейтинг Учителя</a>
            </div>
            <div class="menu__li">
              <a href="contacts.html" class="menu__li-a">Контакты</a>
            </div>
          </div>
        </div>
        <div class="rate__content">
          <h2 class="rate__content-head">Рейтинг педагогов Сентябрь 2021</h2>
          <!-- <h4 class="top__heading-ph">Государственного бюджетного профессионального образовательного
                        учреждения
                        "Челябинский педагогический колледж №2"</h4> -->
          <!-- <a href="#" class="top__heading-btn"> Главная страница сайта ЧПК2</a> -->
          <div class="rate__content-place">
            <div class="rate__content-text">
              <h2 class="rate__content-name">
                Липс <br />
                Надежда Ивановна
              </h2>
              <h4 class="rate__content-desc">
                Преподаватель психолого-педагогических дисциплин, куратор 3/2
                учебной группы направления подготовки 44.02.01 Дошкольное
                образование, первое место в рейтинге участия преподавателей в
                деятельности Колледжа (100 баллов)
              </h4>
            </div>
            <div class="rate__content-media">
              <img
                src="./img/rate-teachers/lips.jpeg"
                alt="Липс"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>
          <div class="rate__content-place">
            <div class="rate__content-text rate__content-text-right">
              <h2 class="rate__content-name">
                Хабибулина <br />
                Марина Борисовна
              </h2>
              <h4 class="rate__content-desc">
                Заведующая учебно-производственной практикой, преподаватель
                теории и методики дисциплин начального обучения, руководитель
                предметно-цикловой комиссии дисциплин специальности
                «Преподавание в начальных классах», второе место в рейтинге
                участия преподавателей в деятельности Колледжа (60 баллов)
              </h4>
            </div>
            <div class="rate__content-media rate__content-media-right">
              <img
                src="./img/rate-teachers/habibulina.jpeg"
                alt="Хабибуллина"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>

          <div class="rate__content-place">
            <div class="rate__content-text">
              <h2 class="rate__content-name">
                Зайкова <br />
                Елена Александра
              </h2>
              <h4 class="rate__content-desc">
                Преподаватель продуктивных видов деятельности, руководитель
                студии изобразительного искусства «Студия «Мир творчества»,
                второе место в рейтинге участия преподавателей в деятельности
                Колледжа (60 баллов)
              </h4>
            </div>
            <div class="rate__content-media">
              <img
                src="./img/rate-teachers/zaikova.jpeg"
                alt="Зайкова"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>
          <div class="rate__content-place">
            <div class="rate__content-text rate__content-text-right">
              <h2 class="rate__content-name">
                Деулина <br />
                Ирина Сергеевна
              </h2>
              <h4 class="rate__content-desc">
                Преподаватель теории и методики дисциплин начального обучения,
                куратор 2/6 учебной группы направления подготовки 44.02.02
                Преподавание в начальных классах, третье место в рейтинге
                участия преподавателей в деятельности Колледжа (58 баллов)
              </h4>
            </div>
            <div class="rate__content-media rate__content-media-right">
              <img
                src="./img/rate-teachers/deulina.jpeg"
                alt="Деулина"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>

          <div class="rate__content-place">
            <div class="rate__content-text">
              <h2 class="rate__content-name">
                Журавлева <br />
                Ксения Викторовна
              </h2>
              <h4 class="rate__content-desc">
                Руководитель информационно-методическим центром, преподаватель
                специальных дисциплин дошкольного образования, куратор 1/3
                учебной группы направления подготовки 44.02.01 Дошкольное
                образование, третье место в рейтинге участия преподавателей в
                деятельности Колледжа (58 баллов)
              </h4>
            </div>
            <div class="rate__content-media">
              <img
                src="./img/rate-teachers/juravleva.jpeg"
                alt="Журавлева"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>
          <div class="rate__content-place">
            <div class="rate__content-text rate__content-text-right">
              <h2 class="rate__content-name">
                Трошина <br />
                Юлия Вячеславовна
              </h2>
              <h4 class="rate__content-desc">
                Педагог-психолог, куратор 2/4 и 4/4 учебных групп направления
                подготовки 44.02.01 Дошкольное образование, куратор самой
                здоровой учебной группы по итогам 2020/2021 учебного года,
                руководитель первичного отделения профсоюза Колледжа, четвертое
                место в рейтинге участия преподавателей в деятельности Колледжа
                (57 баллов)
              </h4>
            </div>
            <div class="rate__content-media rate__content-media-right">
              <img
                src="./img/rate-teachers/troshina.jpeg"
                alt="Трошина"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>

          <div class="rate__content-place">
            <div class="rate__content-text">
              <h2 class="rate__content-name">
                Романюк <br />
                Мария Евгеньевна
              </h2>
              <h4 class="rate__content-desc">
                Преподаватель продуктивных видов деятельности, руководитель
                дополнительной образовательной программы «Основы конструирования
                и робототехники», куратор 2/5 и 3/5 учебных групп направления
                подготовки 44.02.02 Преподавание в начальных классах, четвертое
                место в рейтинге участия преподавателей в деятельности Колледжа
                (57 баллов)
              </h4>
            </div>
            <div class="rate__content-media">
              <img
                src="./img/rate-teachers/romanyuk.jpeg"
                alt="Романюк"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>
          <div class="rate__content-place">
            <div class="rate__content-text rate__content-text-right">
              <h2 class="rate__content-name">
                Апалькова <br />
                Алина Александровна
              </h2>
              <h4 class="rate__content-desc">
                Преподаватель теории и методики физического воспитания детей
                дошкольного возраста, руководитель предметно-цикловой комиссии
                44.02.01 Дошкольное образование, куратор 4/2 учебной группы
                направления подготовки 44.02.01 Дошкольное образование, пятое
                место в рейтинге участия преподавателей в деятельности Колледжа
                (55 баллов)
              </h4>
            </div>
            <div class="rate__content-media rate__content-media-right">
              <img
                src="./img/rate-teachers/apalkova.jpeg"
                alt="Апалькова"
                class="rate__content-img"
              />
              <div class="rate__content-media-top-rec"></div>
              <div class="rate__content-media-bot-rec"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
